<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>

<style>
#app .quiz_img{
    width: 30%;
}
#app .quiz-answer
{
    cursor: pointer;
}
</style>

<div id="app_vue">
    <div class="container">
        <div class="row">
        {{dddd}}
            <h3 class="headline mb-0 text-md-center">Question {{quiz_order}}</h3>
            <div class="col-sm-12 text-center">
                <div class="col-md-4 text-center quiz-answer">
                    <img src="http://ddcfq0gxiontw.cloudfront.net/instagram/41/1867548307242683108_8544169941/low_resolution.jpg" class="quiz_img">
                    <div class="text-center">Thin</div>
                </div>
                 <div class="col-md-4 text-center quiz-answer">
                    <img src="http://ddcfq0gxiontw.cloudfront.net/instagram/41/1867548307242683108_8544169941/low_resolution.jpg" class="quiz_img">
                    <div class="text-center">Medium</div>
                </div>
                 <div class="col-md-4 text-center quiz-answer">
                    <img src="http://ddcfq0gxiontw.cloudfront.net/instagram/41/1867548307242683108_8544169941/low_resolution.jpg" class="quiz_img">
                    <div class="text-center">Coarse</div>
                </div>
                <div class="col-md-12 quiz-answer" v-for="(quiz, index) in current_quiz.answers">
                    <div class="text-center">test</div>
                    <div class="text-center">{{index}}</div>
                    <div class="text-center">{{quiz.label}}</div>
                </div>
                <button class="flat-right" v-if="previous_btn == true" @click="previous">Previous</v-btn>
                <button class="flat-right" v-if="next_btn == true" @click="next">Next</v-btn>
            </div>
            
        </div>
    </div>    
</div>

<script>
  var app = new Vue({
      el: "#app_vue",
    data:{
        video_data:{},
        step_data:{},
        dddd:'dsafasf',
        quiz_data:[
            { 
                question:'In one word, your hair type',
                answers:[
                    {label:'Thin', img:'//ddcfq0gxiontw.cloudfront.net/instagram/41/1867548307242683108_8544169941/low_resolution.jpg'},
                    {label:'Medium', img:'//ddcfq0gxiontw.cloudfront.net/instagram/56/1866861275416176054_179078256/standard_resolution.jpg'},
                    {label:'Coarse', img:'//ddcfq0gxiontw.cloudfront.net/instagram/56/1866861275416176054_179078256/standard_resolution.jpg'},
                ],
                select:'',
            }
        ],
        current_quiz: [],
        selection:0,
        previous_btn: false,
        next_btn: false,
        current_count: 1,
        quiz_order:1,
    },
    
    mounted() {
    },
    created () {
     this.init_quiz() 
      this.next_btn = true;
    },
    methods: {
        init_quiz(){
            alert();
            this.current_quiz = this.quiz_data[this.selection];
            this.current_count = this.current_quiz.answers.length;
            console.log('here: ', this.current_quiz.answers);
            console.log(this.current_count);
        },
        previous(){
            this.selection = this.selection - 1;
        },
        next(){
            this.selection = this.selection + 1;
        },
        select(event){
            console.log(event);
        },

    },
  })
</script>
</div>