<div class="hair-talk-header">
  <div class="hair-talk-logo"><a href="/blogs/hair-talk"><img src="{{ 'langeLogo.png' | asset_img_url: '50x' }}" width="50" /></a></div>
  <ul class="hair-talk-menu">
    <li><a href="/blogs/hair-talk">Hair Talk</a></li>
    <li><a href="/blogs/hair-talk/pro-tips">Pro-Tips</a></li>
    <li><a href="/blogs/hair-talk/diys">DIY's</a></li>
    <li><a href="/blogs/hair-talk/insider-report">Insider Report</a></li>
    <li><a href="/pages/how-to-videos">VIDEOS & HOW-TO's</a></li>
  </ul>
  <h1>Hair/Talk</h1>
</div>