{% if shop.metafields.bold_rp.recurring_type == 0 or shop.metafields.bold_rp.recurring_type == 2 %}
<div class='product_rp_cart_div'></div>
<div style="clear:both"></div>
<script>
</script>
{% endif %}
