<!-- CONTENT section -->
  <div class="container">				
    <!-- title -->
    <div class="title-box top-margin">
      <h1 class="text-center">OOPS!</h1>
      <h2 class="text-center">WE CAN'T SEEM TO FIND THE PAGE YOU'RE LOOKING FOR</h2>
      <p class="text-center">Something appears to be missing... Why not start again at the Home Page or have a look at some of our products below</p>
    </div>
    <hr>
    <!-- /title -->		
<!--     <div class="text-center"> 
      <img src='{{ "page-404-icon.png" | asset_url }}' alt="empty cart icon" class="img-responsive-inline" />
    </div>					 -->
  </div>
{% section 'featured-products' %}
<!-- End CONTENT section -->

{% include 'SEOManager-404' %}